section#error {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;

        h1, h2 {
            line-height: 1em;
            font-weight: 100;
            margin: 0;
        }

        h1 {
            font-size: 6rem;
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 4rem;
        }
    }
}

@include responsive {
    section#error {
        .container {
            h1, h2 {
                text-align: center;
                font-size: 3.4rem;
            }
            .go-wrapper {
                .btn-catch {
                    font-size: 3rem;
                    line-height: 1em;
                }
            }
        }
    }
}
