$white: #ffffff;
$black: #000000;
$main_bg: #ecab00;
$main_font_color: #4c0901;
$bg_link_color: #ed1c24;
$rules_cover: #f0bb34;
$table_color: #f2c44d;
$violet: #701862;
$gray: #969a9b;
$blue: #2ca5e0;
$pink_bg: #fad2d4;
