@font-face {
    font-family: 'TwixHC';
    src: url('../fonts/TwixHighlightCompressedKz.eot');
    src: url('../fonts/TwixHighlightCompressedKz.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TwixHighlightCompressedKz.woff2') format('woff2'),
    url('../fonts/TwixHighlightCompressedkz.woff') format('woff'),
    url('../fonts/TwixHighlightCompressedkz.ttf') format('truetype'),
    url('../fonts/TwixHighlightCompressedkz.svg#TwixHighlightCompressedKz') format('svg');
    font-weight: 300;
    font-style: normal;
}
