div[data-remodal-id="age-filter"] {
    width: 40rem;
    h3 {
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    p {
        text-align: left;
        font-size: 1.6rem;
        margin: 0;
        padding-bottom: 2rem;
        a {
            border-bottom: 1px $main_font_color solid;
        }
    }

    a.lang {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }

    a.promise {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 3rem auto 1rem;
        border-bottom: 1px $main_font_color solid;
        font-size: 2.4rem;
    }
    .promise_text{
        display: none;
    }

    .go-wrapper {
        .btn-catch {
            &:first-child {
                color: $main_font_color;
                background: $white;
                margin-right: 1.8rem;
            }
        }
    }
}
