div[data-remodal-id="already-uploaded"] {
    width: 40rem;
    padding: 2rem 3rem;

    h3 {
        margin: 0;
    }
    p {
        font-size: 2.4rem;
        margin: 1rem 0 3rem;
    }
    .go-wrapper {
        margin-bottom: 2rem;
    }
}
