div[data-remodal-id="faq-success"] {
    width: 35rem;
    padding: 2rem;

    h3 {
        margin-bottom: 1rem;
    }
    p {
        font-size: 2.4rem;
    }
    .go-wrapper {
        margin-bottom: 2rem;
    }
}
