div[data-remodal-id="login"] {
    width: 35rem;
    padding: 2rem 3rem;

    h3 {
        margin-bottom: 1rem;
        font-size: 4.5rem;
        text-transform: uppercase;
    }

    p {
        font-size: 2.4rem;
    }

    .go-wrapper {
        margin-bottom: 2rem;
    }

    form {
        width: 100%;
        .form-group {
            width: 100%;
            position: relative;

            a.forgot {
                position: absolute;
                top: 1.2rem;
                right: 1rem;
                color: $bg_link_color;
                font-size: 2rem;
                border-bottom: solid 1px $bg_link_color;
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            input {
                display: inline-block;
                width: 100%;
                font-size: 2.6rem;
                padding: .5rem 1.5rem;
                border-radius: 1.2rem;
                border: solid 2px transparent;
                &::placeholder {
                   color: $main_font_color;
                }
            }
        }
    }

    p.or {
        margin: 1.5rem 0;
    }

    .go-wrapper {
        .btn-catch {
            width: 80%;
            padding: 0.8rem;

            &.tme {
                display: inline-flex;
                justify-content: center;
                font-size: 2.6rem;
                line-height: 1em;
                background: $blue;
                padding: 1.2rem 0;
                img {
                    height: 3rem;
                    margin-left: 1rem;
                    margin-top: -0.5rem;
                }

            }
        }
    }

    .footer {
        width: 121%;
        padding: 4rem 0 2rem;
        margin-left: -10.5%;
        margin-bottom: -15%;
        margin-top: 2rem;
        background: url('../i/bubble.png') top left/ cover repeat-x;
        border-radius: 0 0 1.2rem 1.2rem;
        color: $white;

        p {
            font-size: 3.6rem;
            margin: 0 0 2rem;
        }

        .go-wrapper {
            .btn-catch {
                width: 67%;
                color: $violet;
                background: $white;
            }
        }
    }

}
